.group-87 {
  align-items: flex-start;
  display: flex;
  margin-left: 66px;
  min-width: 96px;
  position: relative;
}
.instagram {
  align-items: flex-start;
  display: flex;
  margin-left: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 16px;
}
.overlap-group-1 {
  background-size: 100% 100%;
  height: 16px;
  margin-top: 0;
  position: relative;
  width: 17px;
}
.vector-4 {
  height: 3px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 3px;
}
.vector-5 {
  height: 10px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 10px;
}
