/* @media (max-width: 375px) {
  .frame-1600 {
    display: flex;
  } */

.mpd-bangalore-india {
    color: var(--black);
    height: 12px;
    line-height: 21px;
    margin-bottom: -9px;
    margin-top: 8px;
    min-height: 12px;
    mix-blend-mode: normal;
    white-space: nowrap;
}

.mpd-cost-estimator-bg {
    height: 368px;
    left: 0;
    position: absolute;
    top: 1761px;
    width: 375px;
}

.mpd-ellipse-1 {
    height: 48px;
    margin-bottom: -8px;
    mix-blend-mode: normal;
    object-fit: cover;
    width: 48px;
}

.mpd-frame-1600 {
    align-items: flex-start;
    display: flex;
    min-width: 376px;
    mix-blend-mode: normal;
}

.mpd-group-120 {
    align-items: flex-end;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 38px;
    margin-top: 16px;
    min-width: 219px;
}

.mpd-group-140 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    min-height: 40px;
    width: 175px;
}

.mpd-group-210 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 6573px;
    position: absolute;
    top: 2588px;
    width: 388px;
}

.mpd-group-27 {
    align-items: flex-start;
    display: flex;
    height: 226px;
    margin-right: 11px;
    margin-top: 24px;
    min-width: 337px;
}

.mpd-group-89 {
    align-items: flex-start;
    display: flex;
    height: 6272px;
    justify-content: flex-end;
    left: 22px;
    min-width: 332px;
    opacity: 0.04;
    position: absolute;
    top: 0;
}

.mpd-image-3 {
    height: 58px;
    left: 44px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 80px;
}

.mpd-image-4 {
    height: 58px;
    left: 252px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 80px;
}

.mpd-image-5 {
    height: 58px;
    left: 148px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 80px;
}

.mpd-line- {
    height: 6272px;
    margin-left: 82px;
    width: 1px;
}

.mpd-line-4 {
    height: 6272px;
    width: 1px;
}

.mpd-name {
    color: var(--black);
    font-weight: 800;
    height: 20px;
    line-height: 30px;
    margin-bottom: -10px;
    min-height: 20px;
    mix-blend-mode: normal;
    white-space: nowrap;
}

.mpd-our-projects {
    color: var(--black);
    font-weight: 800;
    height: 24px;
    line-height: 34px;
    margin-bottom: -10px;
    margin-right: 11px;
    min-height: 24px;
    min-width: 337px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 337px;
}

.mpd-overlap-group {
    height: 9161px;
    position: relative;
    width: 388px;
}

.mpd-overlap-group1 {
    align-self: flex-start;
    height: 2159px;
    margin-top: 10px;
    position: relative;
    width: 376px;
}

.mpd-overlap-group2 {
    align-self: flex-start;
    height: 590px;
    margin-top: 31px;
    position: relative;
    width: 375px;
}

.mpd-overlap-group4 {
    align-items: flex-end;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 2px 5px #00153429;
    display: flex;
    flex-direction: column;
    min-height: 226px;
    padding: 40px 38px;
    width: 335px;
}

.mpd-packages {
    color: var(--black);
    font-weight: 800;
    height: 24px;
    left: 20px;
    line-height: 34px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 337px;
}

.mpd-rectangle-67 {
    background-color: var(--black);
    height: 503px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 87px;
    width: 375px;
}

.mpd-rectangle-69 {
    height: 667px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 374px;
}

.mpd-rectangle-70 {
    height: 200px;
    left: 20px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 2057px;
    width: 335px;
}

.mpd-rectangle-71 {
    background-color: var(--white);
    height: 2159px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 375px;
}

.mpd-rectangle-72 {
    height: 200px;
    left: 20px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 864px;
    width: 335px;
}

.mpd-rectangle-73 {
    height: 200px;
    left: 20px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 1486px;
    width: 335px;
}

.mpd-rectangle-74 {
    background-color: var(--mercury);
    height: 90px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 375px;
}

.mpd-span {
    color: var(--black);
}

.mpd-span-1 {
    color: var(--red);
}

.mpd-span0 {
    letter-spacing: -0.11px;
    line-height: 28px;
}

.mpd-span1 {
    letter-spacing: -0.22px;
    line-height: 28px;
}

.mpd-span2 {
    letter-spacing: -0.16px;
    line-height: 48px;
}

.mpd-span2-1 {
    letter-spacing: 0;
}

.mpd-testimonials {
    color: var(--black);
    font-weight: 800;
    height: 24px;
    line-height: 34px;
    margin-bottom: -10px;
    margin-right: 11px;
    margin-top: 25px;
    min-height: 24px;
    min-width: 337px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 337px;
}

.mpd-text-1 {
    color: var(--black);
    font-weight: 800;
    height: 20px;
    left: 20px;
    line-height: 30px;
    mix-blend-mode: normal;
    position: absolute;
    top: 1088px;
    white-space: nowrap;
    width: 337px;
}

.mpd-text-19 {
    color: var(--black);
    line-height: 21px;
    min-height: 90px;
    min-width: 257px;
    mix-blend-mode: normal;
    width: 257px;
}

.mpd-text-2 {
    color: transparent;
    left: 20px;
    line-height: 21px;
    position: absolute;
    top: 1132px;
    width: 337px;
}

.mpd-text-22 {
    color: var(--black);
    line-height: 24px;
    margin-right: 11px;
    margin-top: 16px;
    min-height: 66px;
    min-width: 337px;
    mix-blend-mode: normal;
    text-align: center;
    width: 337px;
}

.mpd-text-23 {
    color: var(--black);
    left: 20px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 337px;
}

.mpd-text-24 {
    color: var(--black);
    line-height: 28px;
    margin-right: 11px;
    margin-top: 16px;
    min-height: 48px;
    min-width: 337px;
    mix-blend-mode: normal;
    text-align: center;
    width: 337px;
}

.mpd-text-3 {
    color: var(--black);
    font-weight: 800;
    height: 51px;
    left: 20px;
    line-height: 34px;
    mix-blend-mode: normal;
    position: absolute;
    top: 1710px;
    width: 337px;
}

.mpd-text-4 {
    color: var(--black);
    left: 20px;
    line-height: 21px;
    mix-blend-mode: normal;
    position: absolute;
    top: 1785px;
    width: 337px;
}

.mpd-text-5 {
    color: var(--black);
    font-weight: 800;
    height: 51px;
    left: 20px;
    line-height: 34px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2281px;
    width: 337px;
}

.mpd-text-6 {
    color: var(--black);
    left: 20px;
    line-height: 21px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2356px;
    width: 337px;
}

.mpd-text-7 {
    color: var(--black);
    left: 20px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    top: 734px;
    width: 337px;
}

.mpd-text-8 {
    height: 143px;
    left: 22px;
    line-height: 16px;
    position: absolute;
    top: 224px;
    width: 285px;
}

.mpd-text-9 {
    color: var(--black);
    left: 22px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    top: 391px;
    width: 285px;
}

.mpd-why-webuild {
    color: var(--black);
    font-weight: 800;
    height: 24px;
    left: 20px;
    line-height: 34px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 694px;
    white-space: nowrap;
    width: 337px;
}


/* }

.mpd-frame-1600 {
  display: none;
} */